<!-- <p>crud-form works!</p> -->
<div class="container">
    <mat-card>
        <form>
            <mat-form-field class="input-field" appearance="fill" formControlName="userId">
                <mat-label>UserId</mat-label>
                <input matInput placeholder="UserId">
            </mat-form-field>

            <mat-form-field class="input-field" appearance="fill" formControlName="id">
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID">
            </mat-form-field>

            <mat-form-field class="input-field" appearance="fill" formControlName="title">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title">
            </mat-form-field>

            <mat-form-field class="input-field" appearance="fill" formControlName="body">
                <mat-label>Body</mat-label>
                <input matInput placeholder="Body">
            </mat-form-field>
        </form>
    </mat-card>
</div>