.test {
    color: red;
    background-color: lightseagreen;
    border: 1px solid black;
}

.text {
    background-color: lightblue;
    color: blue;
    border: 1px solid black;
}

h2 {
    color: blue;
}

h1 {
    color: red;
}