<h1>Data Binding In Angular.</h1>

<h2 class="mt-2">Types Of Data Binding:-</h2>

<h3 class="mt-2">1] Interpolution</h3>
<h4 class="mt-2">a] This is {{title}} Binding.</h4>
<h4 class="mt-2">b] {{interpolution}}</h4>
<h3>{{5+5}}</h3>

<h3 class="mt-4">2] Property Binding</h3>
<h4><a [href]="link">Go to Google</a></h4>
<input class="mt-2" type="text" [value]="property">
<h4 class="mt-2">For difference bet interpolution and property binding.</h4>
<input class="mt-2" type="text" [disabled]="disableText" [value]="property"><br>
<input class="mt-2" type="text" disabled="{{disableText}}" [value]="binding"><br>
<button class="btn btn-info mt-2" (click)="disabled()">Undisable</button><br>

<h3 class="mt-4">3] Event Binding</h3>
<button (click)="onClick()">Show Data</button>
{{event}}
<!-- <button (click)="onHide()">Hide Data</button> -->

<h3 class="mt-4">4] Two Way Binding:-</h3>
This is two way binding. <input type="text" value="twoway" [(ngModel)]="twoway">
{{twoway}}

<h3 class="mt-4">5] Style Binding:-</h3>
<h4 style="color:blue; background-color: yellow;">This is style binding.</h4>



<!-- <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est consectetur totam atque eum praesentium illum deserunt
    necessitatibus maxime explicabo? Soluta beatae reiciendis odit, quam eveniet impedit maiores labore similique
    corporis.</p> -->