<div class="container">
  <!-- <app-data-binding></app-data-binding> -->

  <!-- <app-directive></app-directive> -->

  <!-- <app-pipe></app-pipe> -->

  <!-- <app-crud-application></app-crud-application> -->

  <!-- <app-material-table></app-material-table> -->

  <app-tabs></app-tabs>

  <!-- <app-sidenav></app-sidenav> -->

  <!-- <app-rusable></app-rusable> -->

  <!-- <app-routing></app-routing> -->

  <!-- <app-service></app-service> -->

  <!-- <app-tracking-device></app-tracking-device> -->
</div>