<div class="container">
  <router-outlet></router-outlet>

  <!-- <app-routing></app-routing> -->

  <!-- <app-login></app-login> -->

  <!-- <app-register></app-register> -->

  <!-- <app-data-binding></app-data-binding> -->

  <!-- <app-directive></app-directive> -->

  <!-- <app-pipe></app-pipe> -->

  <!-- <app-crud-application></app-crud-application> -->

  <!-- <app-material-table></app-material-table> -->

  <!-- <app-tabs></app-tabs> -->

  <!-- <app-crud-form></app-crud-form> -->

  <!-- <app-sidenav></app-sidenav> -->

  <!-- <app-rusable></app-rusable> -->

  <!-- <app-service></app-service> -->

  <!-- <app-tracking-device></app-tracking-device> -->
</div>